.login_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    height: 100vh;
    
   
    
}
.curved-text{
   
    width: 450px;
    height: 400px;
    
    /* line-height: 500px; */
    border-radius: 50%;
    font-size: 50px;
    color: dimgray;
    text-align: center;
    background: white
  
   }
   .plog{
    text-decoration: none;
   

   }
   .a{
    text-decoration: none;


   }
   
.loginbox{
    padding: 5px;
    width: 400px;
}
.signup{
    margin: auto;
    margin-left: 350px;
    width: 450px;
   
    background: #ffffff;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 40px 55px 45px 55px;
    border-radius: 15px;
    transition: all .3s;
    margin-top: 100px;
    height: 630px;
    
}

.del{
    margin-top: -640px;
    position: absolute;
    margin-left: 900px;
}
.login{
   margin: auto;
    
    width: 450px;
   
    background: #ffffff;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 40px 55px 45px 55px;
    border-radius: 15px;
    transition: all .3s;
    margin-top: 100px;
    height: 500px;
    
}
.lgn{
    margin-top: -650px;
    margin-right: 200px;
    margin-left: 470px;


}
.bgimg{
    background-color: azure;
    width:700px;
    
    height: 600px;

   
    
} 
.signup2{
    margin: auto;
    margin-left: 350px;
    width: 450px;
   
    background: #ffffff;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 40px 55px 45px 55px;
    border-radius: 15px;
    transition: all .3s;
    margin-top: 100px;
    height: 600px;

}
.chk{
    
    margin-left: -320px;
}